.scrollHorizontal {
    cursor: grab;
  }
  
  .scrollHorizontal.grabbing {
    cursor: grabbing;
  }
  
  button.grabbing {
    cursor: grabbing !important;
  }

  /* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
